In [4]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv(r'./Data/Yellow_Taxi_Trip_Data.csv')

In [6]:
df.dtypes #generate column names and types

Unnamed: 0                 int64
VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [7]:
df.info() #counts non-null(valid) values per column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
 6   RatecodeID             22699 non-null  int64
 7   store_and_fwd_flag     22699 non-null  object
 8   PULocationID           22699 non-null  int64
 9   DOLocationID           22699 non-null  int64
 10  payment_type           22699 non-null  int64
 11  fare_amount            22699 non-null  float64
 12  extra                  22699 non-null  float64
 13  mta_tax                22699 non-null  float64
 14  tip_amount             22699 non-null  float64
 15  tolls_amount           22699 non-null  float64
 16  improvement_surcharge  22699 non-null  float64
 17  total_amount           22699 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.1+ MB

In [8]:
df.describe() #basic staistical analysis

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,2.269900e+04,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000
mean,5.675849e+07,1.556236,1.642319,2.913313,1.043394,162.412353,161.527997,1.336887,13.026629,0.333275,0.497445,1.835781,0.312542,0.299551,16.310502
std,3.274493e+07,0.496838,1.285231,3.653171,0.708391,66.633373,70.139691,0.496211,13.243791,0.463097,0.039465,2.800626,1.399212,0.015673,16.097295
min,1.212700e+04,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-120.000000,-1.000000,-0.500000,0.000000,0.000000,-0.300000,-120.300000
25%,2.852056e+07,1.000000,1.000000,0.990000,1.000000,114.000000,112.000000,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.750000
50%,5.673150e+07,2.000000,1.000000,1.610000,1.000000,162.000000,162.000000,1.000000,9.500000,0.000000,0.500000,1.350000,0.000000,0.300000,11.800000
75%,8.537452e+07,2.000000,2.000000,3.060000,1.000000,233.000000,233.000000,2.000000,14.500000,0.500000,0.500000,2.450000,0.000000,0.300000,17.800000
max,1.134863e+08,2.000000,6.000000,33.960000,99.000000,265.000000,265.000000,4.000000,999.990000,4.500000,0.500000,200.000000,19.100000,0.300000,1200.290000

In [9]:
df.head() #helps view data

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,1,N,100,231,1,13.0,0.0,0.5,2.76,0.0,0.3,16.56
1,35634249,1,04/11/2017 2:53:28 PM,04/11/2017 3:19:58 PM,1,1.80,1,N,186,43,1,16.0,0.0,0.5,4.00,0.0,0.3,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,1,N,262,236,1,6.5,0.0,0.5,1.45,0.0,0.3,8.75
3,38942136,2,05/07/2017 1:17:59 PM,05/07/2017 1:48:14 PM,1,3.70,1,N,188,97,1,20.5,0.0,0.5,6.39,0.0,0.3,27.69
4,30841670,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37,1,N,4,112,2,16.5,0.5,0.5,0.00,0.0,0.3,17.80

In [10]:
df_clean = df.drop(['Unnamed: 0', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID'], axis = 1)
#dropping unwanted columns using drop functino
#drop(['columnName'], axis =1, inplace=True)
#axis-> specifies column
#inplace is used to make changes directly to current data frame

In [11]:
df_clean.head()

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,6,3.34,1,N,1,13.0,0.0,0.5,2.76,0.0,0.3,16.56
1,1,1,1.80,1,N,1,16.0,0.0,0.5,4.00,0.0,0.3,20.80
2,1,1,1.00,1,N,1,6.5,0.0,0.5,1.45,0.0,0.3,8.75
3,2,1,3.70,1,N,1,20.5,0.0,0.5,6.39,0.0,0.3,27.69
4,2,1,4.37,1,N,2,16.5,0.5,0.5,0.00,0.0,0.3,17.80

In [12]:
#renaming column
#rename(columns={"OldName": "new_name"})
#inplace=True if you’re okay modifying it directly.
df_clean.rename(columns={'VendorID':'Vendor_id'}, inplace=True)

In [13]:
#columns with missing or unwanted data
df_clean.isnull().sum()

Vendor_id                0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
dtype: int64

In [14]:
df_clean.dropna() #to drop any null values

,Vendor_id,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,6,3.34,1,N,1,13.0,0.0,0.5,2.76,0.00,0.3,16.56
1,1,1,1.80,1,N,1,16.0,0.0,0.5,4.00,0.00,0.3,20.80
2,1,1,1.00,1,N,1,6.5,0.0,0.5,1.45,0.00,0.3,8.75
3,2,1,3.70,1,N,1,20.5,0.0,0.5,6.39,0.00,0.3,27.69
4,2,1,4.37,1,N,2,16.5,0.5,0.5,0.00,0.00,0.3,17.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22694,2,3,0.61,1,N,2,4.0,1.0,0.5,0.00,0.00,0.3,5.80
22695,2,1,16.71,2,N,1,52.0,0.0,0.5,14.64,5.76,0.3,73.20
22696,2,1,0.42,1,N,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
22697,2,1,2.36,1,N,1,10.5,0.0,0.5,1.70,0.00,0.3,13.00
22698,1,1,2.10,1,N,1,11.0,0.0,0.5,2.35,0.00,0.3,14.15

In [15]:
df_clean[(df_clean['fare_amount'] <0) | (df_clean['trip_distance'] < 0)]
#(cond1) | (cond2)
#Check for Incorrect or Suspicious Data like negative values

,Vendor_id,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
314,2,6,0.12,1,N,3,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8
1646,2,1,0.04,1,N,3,-2.5,0.0,-0.5,0.0,0.0,-0.3,-3.3
4423,2,2,0.06,1,N,4,-3.0,-0.5,-0.5,0.0,0.0,-0.3,-4.3
5448,2,1,0.25,1,N,3,-3.5,0.0,-0.5,0.0,0.0,-0.3,-4.3
5758,2,1,0.02,1,N,3,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8
8204,2,1,0.41,1,N,3,-3.5,-0.5,-0.5,0.0,0.0,-0.3,-4.8
10281,2,2,0.00,1,N,4,-2.5,-1.0,-0.5,0.0,0.0,-0.3,-4.3
11204,2,1,0.64,1,N,3,-4.5,0.0,-0.5,0.0,0.0,-0.3,-5.3
12944,2,1,0.17,5,N,4,-120.0,0.0,0.0,0.0,0.0,-0.3,-120.3
14714,2,5,0.40,1,N,4,-4.0,-0.5,-0.5,0.0,0.0,-0.3,-5.3
17602,2,1,0.46,1,N,4,-4.0,-1.0,-0.5,0.0,0.0,-0.3,-5.8
18565,2,1,0.10,1,N,3,-3.0,0.0,-0.5,0.0,0.0,-0.3,-3.8
20317,2,1,0.24,1,N,4,-3.5,-0.5,-0.5,0.0,0.0,-0.3,-4.8
20698,2,1,0.70,1,N,4,-4.5,-0.5,-0.5,0.0,0.0,-0.3,-5.8

In [16]:
#sorting data by trip_distance
#inplace function for mutating original data 
df_clean_sorted_trip_dist = df_clean.sort_values(by=['trip_distance'], ascending=False,)
df_clean_sorted_trip_dist.head()

,Vendor_id,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
9280,2,2,33.96,5,N,2,150.00,0.0,0.0,0.00,0.00,0.3,150.30
13861,2,1,33.92,5,N,1,200.01,0.0,0.5,51.64,5.76,0.3,258.21
6064,2,1,32.72,3,N,1,107.00,0.0,0.0,55.50,16.26,0.3,179.06
10291,2,1,31.95,4,N,2,131.00,0.0,0.5,0.00,0.00,0.3,131.80
29,2,1,30.83,1,N,1,80.00,0.5,0.5,18.56,11.52,0.3,111.38

In [17]:
# Sort the data by total amount and print the top 20 values
df_clean_sorted_total_amount = df_clean.sort_values(by=['total_amount'], ascending=False)
df_clean_sorted_total_amount.head(20)

,Vendor_id,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
8476,1,1,2.60,5,N,1,999.99,0.0,0.0,200.00,0.00,0.3,1200.29
20312,2,2,0.00,5,N,2,450.00,0.0,0.0,0.00,0.00,0.3,450.30
13861,2,1,33.92,5,N,1,200.01,0.0,0.5,51.64,5.76,0.3,258.21
12511,2,1,0.00,5,N,1,175.00,0.0,0.0,46.69,11.75,0.3,233.74
15474,2,1,0.00,5,N,1,200.00,0.0,0.5,11.00,0.00,0.3,211.80
6064,2,1,32.72,3,N,1,107.00,0.0,0.0,55.50,16.26,0.3,179.06
16379,2,1,25.50,5,N,2,140.00,0.0,0.5,0.00,16.26,0.3,157.06
3582,1,1,7.30,5,N,1,152.00,0.0,0.0,0.00,0.00,0.3,152.30
11269,1,2,0.00,5,N,1,120.00,0.0,0.0,20.00,11.52,0.3,151.82
9280,2,2,33.96,5,N,2,150.00,0.0,0.0,0.00,0.00,0.3,150.30
1928,1,2,12.50,5,N,1,120.00,0.0,0.0,5.00,12.50,0.3,137.80
10291,2,1,31.95,4,N,2,131.00,0.0,0.5,0.00,0.00,0.3,131.80
6708,2,1,0.32,5,N,1,100.00,0.0,0.5,25.20,0.00,0.3,126.00
11608,2,2,23.00,3,N,1,99.50,1.0,0.0,10.00,12.50,0.3,123.30
908,2,2,26.12,4,N,1,100.00,0.0,0.5,15.00,5.76,0.3,121.56
7281,2,1,0.00,5,N,1,100.00,0.0,0.5,20.16,0.00,0.3,120.96
18130,1,1,30.50,1,N,1,90.50,0.0,0.5,19.85,8.16,0.3,119.31
13621,1,2,19.80,5,N,1,105.00,0.0,0.0,8.00,2.64,0.3,115.94
13359,1,1,0.00,5,N,1,75.00,0.0,0.0,18.65,18.00,0.3,111.95
29,2,1,30.83,1,N,1,80.00,0.5,0.5,18.56,11.52,0.3,111.38

In [18]:
# Sort the data by total amount and print the bottom 20 values
# df_clean_sorted_total_amount_des = df_clean.sort_values(by=['total_amount'], ascending=True)
# df_clean_sorted_total_amount_des.head(20)
df_clean_sorted_total_amount.tail(20)

,Vendor_id,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
14283,1,1,0.00,5,N,3,0.01,0.0,0.0,0.0,0.0,0.3,0.31
19067,1,1,0.10,5,N,3,0.00,0.0,0.0,0.0,0.0,0.3,0.30
10506,2,1,0.00,1,N,1,0.00,0.0,0.0,0.0,0.0,0.0,0.00
5722,2,1,0.00,1,N,1,0.00,0.0,0.0,0.0,0.0,0.0,0.00
4402,2,1,7.06,1,N,2,0.00,0.0,0.0,0.0,0.0,0.0,0.00
22566,2,1,0.00,1,N,1,0.00,0.0,0.0,0.0,0.0,0.0,0.00
1646,2,1,0.04,1,N,3,-2.50,0.0,-0.5,0.0,0.0,-0.3,-3.30
18565,2,1,0.10,1,N,3,-3.00,0.0,-0.5,0.0,0.0,-0.3,-3.80
314,2,6,0.12,1,N,3,-2.50,-0.5,-0.5,0.0,0.0,-0.3,-3.80
5758,2,1,0.02,1,N,3,-2.50,-0.5,-0.5,0.0,0.0,-0.3,-3.80
5448,2,1,0.25,1,N,3,-3.50,0.0,-0.5,0.0,0.0,-0.3,-4.30
4423,2,2,0.06,1,N,4,-3.00,-0.5,-0.5,0.0,0.0,-0.3,-4.30
10281,2,2,0.00,1,N,4,-2.50,-1.0,-0.5,0.0,0.0,-0.3,-4.30
8204,2,1,0.41,1,N,3,-3.50,-0.5,-0.5,0.0,0.0,-0.3,-4.80
20317,2,1,0.24,1,N,4,-3.50,-0.5,-0.5,0.0,0.0,-0.3,-4.80
11204,2,1,0.64,1,N,3,-4.50,0.0,-0.5,0.0,0.0,-0.3,-5.30
14714,2,5,0.40,1,N,4,-4.00,-0.5,-0.5,0.0,0.0,-0.3,-5.30
17602,2,1,0.46,1,N,4,-4.00,-1.0,-0.5,0.0,0.0,-0.3,-5.80
20698,2,1,0.70,1,N,4,-4.50,-0.5,-0.5,0.0,0.0,-0.3,-5.80
12944,2,1,0.17,5,N,4,-120.00,0.0,0.0,0.0,0.0,-0.3,-120.30

In [19]:
# How many of each payment type are represented in the data?
df_clean['payment_type'].value_counts()

payment_type
1    15265
2     7267
3      121
4       46
Name: count, dtype: int64

In [20]:
# What is the average tip for trips paid for with credit card?
avg_cc_tips = df_clean[df_clean['payment_type']==1]['tip_amount'].mean()
print("Avg cc tip: ", avg_cc_tips)

Avg cc tip:  2.7298001965280054

In [21]:
# What is the average tip for trips paid for with cash?
avg_cash_tip = df_clean[df_clean['payment_type']==2]['tip_amount'].mean() 
print("Avg cash tip:", avg_cash_tip)

Avg cash tip: 0.0

In [22]:
#mean on vendor 
df_clean.groupby('Vendor_id').mean(numeric_only=True)

,passenger_count,trip_distance,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
Vendor_id,,,,,,,,,,,
1,1.258910,2.881485,1.045766,1.346769,13.035511,0.332423,0.497816,1.83725,0.295119,0.300000,16.298119
2,1.948202,2.938705,1.041502,1.329004,13.019544,0.333954,0.497149,1.83461,0.326441,0.299192,16.320382

In [23]:
# How many times is each vendor ID represented in the data?
df_clean['Vendor_id'].value_counts()

Vendor_id
2    12626
1    10073
Name: count, dtype: int64

In [24]:
# What is the mean total amount for each vendor?
df_clean.groupby(['Vendor_id'])['total_amount'].mean(numeric_only =True)

Vendor_id
1    16.298119
2    16.320382
Name: total_amount, dtype: float64

In [25]:
# Filter the data for credit card payments only
credit_card = df_clean[df_clean['payment_type']==1]

In [26]:
# Filter the credit-card-only data for passenger count only
# Filter once → assign to a new DataFrame
cc_passenger_count = df_clean[(df_clean['payment_type']==1) & (df_clean['passenger_count']==1)] 
cc_passenger_count.value_counts()

Vendor_id  passenger_count  trip_distance  RatecodeID  store_and_fwd_flag  payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  total_amount
1          1                0.80           1           N                   1             6.00         0.0    0.5      1.35        0.00          0.3                    8.15            15
                            0.70           1           N                   1             6.00         0.0    0.5      1.35        0.00          0.3                    8.15            14
                            1.00           1           N                   1             7.00         0.0    0.5      1.55        0.00          0.3                    9.35            13
                                                                                         6.50         0.0    0.5      1.45        0.00          0.3                    8.75            13
                            1.70           1           N                   1             9.50         0.0    0.5      2.05        0.00          0.3                    12.35           12
                                                                                                                                                                                       ..
                            8.20           1           N                   1             33.00        0.5    0.5      10.25       0.00          0.3                    44.55            1
                                                                                         32.00        0.5    0.5      6.65        0.00          0.3                    39.95            1
                                                                                         28.00        0.0    0.5      5.75        0.00          0.3                    34.55            1
                                                                                         27.50        0.0    0.5      1.00        0.00          0.3                    29.30            1
2          1                33.92          5           N                   1             200.01       0.0    0.5      51.64       5.76          0.3                    258.21           1
Name: count, Length: 8904, dtype: int64

In [27]:

# Calculate the average tip amount for each passenger count (credit card payments only)
df_clean.groupby('passenger_count')['tip_amount'].mean()

passenger_count
0    2.135758
1    1.848920
2    1.856378
3    1.716768
4    1.530264
5    1.873185
6    1.720260
Name: tip_amount, dtype: float64